<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contatos BTalk</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
    <% include ../headers %>
    <section class="col-sm-6">
        <h1>Bem Vindo <%- usuario.nome %></h1>    
        <div class="col-xs-10">
            <h2>Listagens de Contatos</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ações</th>
                    </tr>
           </thead>
           <tbody>
             <%if(!contatos || contatos.length ==0){%>
               <tr>
                 <td colspan="4">Nenhum Contato Cadastrado</td>
               </tr>
               <%} else{
                   contatos.forEach(function(contato, index){ %>
                     <tr>
                       <td><%=contato.nome%></td>
                       <td><%=contato.email%></td>
                       <td>
                         <div class="btn-group" role="group" aria-label="Basic example">
                           <a href="/contato/<%- index %>" class="btn btn-outline-primary">Detalhes</a>
                           <a href="/chat/<%- contato.email %>" class="btn btn-outline-primary">Conversar</a>
                           </div>
                        </td>
                     </tr>
                   <%})}%>
           </tbody>
         </table>
       </div>      
            <form action="/contatos" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" name="contato[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nome</label>
                    <input type="text" name="contato[nome]" class="form-control" id="exampleInputPassword1" placeholder="Nome">
                </div>            
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            
        <a href="/sair">Logout</a>
        </section>
        <% include ../footer %>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>